section h1 {
  color: var(--letrasTitulosColor);
  font-weight: bolder;
  font-size: 4em;
  width: 15ch;
  height: 100%;
  padding: 20px;
  position: relative;
  z-index: 2;
}

section h1 strong {
  font-size: 2em;
  left: 100px;
}

section h1 span {
  left: 175px;
}

section h1 strong,
section h1 strong span {
  /* color: #02c4fa20; */
  color: #00191f;
  /* color: #1b1bff20; */
  -webkit-text-stroke: 5px var(--colorPrincipal);
  background-color: var(--backgroundColorPrincipal);
  display: inline-block;
  border-radius: 50px;
  position: relative;
  font-style: italic;
  width: 60vw;
  text-shadow: 0px 0px 5px var(--colorPrincipal),
    0px 0px 10px var(--colorPrincipal), 0px 0px 20px var(--colorPrincipal),
    0px 0px 40px var(--colorPrincipal);
}

section > article {
  position: relative;
  bottom: 150px;
  min-width: 100px;
  height: 100px;
  left: -100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

section > article fa-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  color: var(--colorSecundario);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px var(--colorPrincipal),
    0px 0px 10px var(--colorPrincipal), 0px 0px 20px var(--colorPrincipal),
    0px 0px 40px var(--colorPrincipal);
}

section > article div {
  position: absolute;
  height: 100%;
  width: 100%;
}

section > article div label {
  position: absolute;
  left: 50%;
  top: -50%;
  font-size: 0.6em;
  transform-origin: 0 100px;
  font-weight: bolder;
}

section > div {
  position: absolute;
  width: 300px;
  height: 150px;
  bottom: 5vh;
  left: 5vw;
  border-radius: 50px;
  z-index: 4;
  box-shadow: var(--boxShadow);
}

section > div img {
  /* width: 100%; */
  border-radius: 50px;
  filter: invert(1);
  border: 1px solid white;
}

section > img {
  position: relative;
  bottom: 60px;
  border-radius: 50px;
  filter: invert(1);
  opacity: 0.7;
  transform: rotateY(180deg);
}

/* !!! Responsive !!! */

@media (max-width: 1330px) {
  section h1 {
    height: 35vh;
    font-size: 3em;
  }

  section h1 strong {
    top: 0;
  }

  section h1 span {
    left: 10vw;
  }

  section > div {
    bottom: auto;
    top: 15vh;
    width: 25vw;
    height: 20vh;
    left: 10vw;
  }

  section > div img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  section h1 strong {
    left: 0;
    width: 70vw;
  }
}

@media (max-width: 900px) {
  section h1 span {
    left: 0;
  }
}

@media (max-width: 768px) {
  section h1 {
    font-size: 6vw;
  }

  section > div {
    width: 40vw;
    height: 20vh;
  }

  section > article {
    bottom: 200px;
    left: 0;
  }

  section > img {
    left: -250px;
  }
}

@media (max-width: 550px) {
  section {
    align-items: end;
  }

  section h1 {
    bottom: 23vh;
    gap: 8vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 11ch;
    padding: 0;
    font-size: 7vw;
  }

  section h1 strong {
    width: 80vw;
    font-size: 2.1em;
  }

  section > div {
    height: 20vh;
    bottom: 1vh;
    left: 5vw;
    top: auto;
    width: 75vw;
  }

  section > img {
    right: 35%;
    bottom: 48vh;
    border-radius: 0;
    left: auto;
    opacity: 0.5;
  }

  section > article {
    bottom: 67vh;
    left: 11vw;
  }

  section > article div {
    height: 70%;
  }

  section > article div label {
    transform-origin: 0 70px;
  }
}
