<section>
  <h1>
    RELACIONES PUBLICAS CON <strong>MARKETING <span>ESTRATÉGICO</span></strong>
  </h1>

  <article *ngIf="publicService.img2Inicio">
    <fa-icon [icon]="faFlagCheckered"></fa-icon>
    <div>
      <p>
        <label
          *ngFor="let char of arrayFrase; let i = index"
          [style]="setStyleSpan(i)"
          >{{ char }}</label
        >
      </p>
    </div>
  </article>

  <div *ngIf="publicService.img1Inicio">
    <img
      src="../../../assets/imagenes/inicio/img2.jpg"
      alt=""
      alt=""
      title=""
      width="298"
      height="148"
      (load)="imagen2cargada()"
    />
  </div>

  <img
    *ngIf="publicService.load || publicService.img2Inicio"
    src="../../../assets/imagenes/inicio/img1.jpg"
    alt=""
    title=""
    width="350"
    height="350"
    (load)="imagen1cargada()"
  />

  <!-- <fa-icon [icon]="faTrophy"></fa-icon>
  <p>Agencia de Pubilicidad Profesional.</p> -->
</section>
