section h1 {
  color: var(--letrasTitulosColor);
  font-weight: bolder;
  font-size: 4em;
  width: 15ch;
  height: 100%;
  padding: 20px;
  position: relative;
  z-index: 2;
}

section h1 strong {
  font-size: 2em;
  left: 100px;
}

section h1 span {
  left: 175px;
}

section h1 strong,
section h1 strong span {
  /* color: #02c4fa20; */
  color: #00191f;
  /* color: #1b1bff20; */
  -webkit-text-stroke: 5px var(--colorPrincipal);
  background-color: var(--backgroundColorPrincipal);
  display: inline-block;
  border-radius: 50px;
  position: relative;
  font-style: italic;
  /* text-shadow: 0px 0px 5px var(--colorPrincipal),
    0px 0px 10px var(--colorPrincipal), 0px 0px 20px var(--colorPrincipal),
    0px 0px 40px var(--colorPrincipal); */
}

section > article {
  position: relative;
  bottom: 150px;
  min-width: 100px;
  height: 100px;
  left: -100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

section > article fa-icon {
  position: absolute;
  width: 50px;
  background: #fff;
  color: var(--colorSecundario);
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px var(--colorPrincipal),
    0px 0px 10px var(--colorPrincipal), 0px 0px 20px var(--colorPrincipal),
    0px 0px 40px var(--colorPrincipal);
}

section > article div {
  position: absolute;
  height: 100%;
  width: 100%;
}

section > article div label {
  position: absolute;
  left: 50%;
  top: -50%;
  font-size: 0.6em;
  transform-origin: 0 100px;
  font-weight: bolder;
}

section > div {
  position: absolute;
  width: 300px;
  height: 150px;
  bottom: 5vh;
  left: 5vw;
  border-radius: 50px;
  z-index: 4;
  box-shadow: var(--boxShadow);
}

section > div img {
  /* width: 100%; */
  border-radius: 50px;
  filter: invert(1);
  border: 1px solid white;
}

section > img {
  position: relative;
  bottom: 60px;
  border-radius: 50px;
  filter: invert(1);
  opacity: 0.7;
  transform: rotateY(180deg);
}
/* 
section > fa-icon {
  color: var(--colorSecundario);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 4em;
  right: 10vw;
  top: 15vh;

  width: 130px;
  height: 170px;
  background: var(--backgroundColorPrincipal);
  border-bottom-left-radius: 30px;
  z-index: 1;
}

section > fa-icon::before {
  content: "";
  position: absolute;

  width: 120px;
  height: 150px;

  right: 0;
  bottom: 10px;
  background: white;
  border-radius: 30px;
  padding: 10px 0;
  z-index: -1;
  box-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff;
}

section > p {
  position: absolute;
  right: 7vw;
  top: 170px;
  width: 200px;
  text-wrap: pretty;
  text-align: center;
  z-index: 3;
  color: black;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
} */
