<header
  [ngClass]="{ sticky: publicService.sticky }"
  *ngIf="publicService.img1Inicio"
>
  <div
    [ngClass]="{ active: publicService.menuToggle, toggle: true }"
    (click)="toogleMenu()"
  ></div>
  <nav [ngClass]="{ left: true, active: publicService.menu }">
    <ul [ngClass]="{ menu: true, active: publicService.menu }">
      <li>
        <a [routerLink]="'/nosotros'" (click)="toogleMenu()">Nosotros</a>
      </li>
      <li>
        <a [routerLink]="'/servicios'" (click)="toogleMenu()">Servicios</a>
      </li>
    </ul>
  </nav>

  <a [routerLink]="'/'" (click)="toogleMenu()" class="logo">
    <img
      src="../../../assets/icons/RP FONDO TRASPARENTE50.png"
      alt=""
      title=""
      width="50"
    />
  </a>

  <nav [ngClass]="{ rigth: true, active: publicService.menu }">
    <ul>
      <li>
        <a [routerLink]="'/trabajos'" (click)="toogleMenu()">Trabajos</a>
      </li>
      <li>
        <a [routerLink]="'/contacto'" (click)="toogleMenu()">Contáctanos</a>
      </li>
    </ul>
  </nav>
</header>

<!-- fin header -->


<app-inicio></app-inicio>
