<header [ngClass]="{ sticky: publicService.sticky }">
  <!-- <header
  *ngIf="publicService.imgIndex"
  [ngClass]="{ sticky: publicService.sticky }"
> -->
  <div
    [ngClass]="{ active: publicService.menuToggle, toggle: true }"
    (click)="toogleMenu()"
  ></div>
  <nav class="left">
    <ul [ngClass]="{ menu: true, active: publicService.menu }">
      <li>
        <a [routerLink]="'/nosotros'" (click)="toogleMenu()">Nosotros</a>
      </li>
      <li>
        <a [routerLink]="'/servicios'" (click)="toogleMenu()">Servicios</a>
      </li>
    </ul>
  </nav>

  <a [routerLink]="'/'" (click)="toogleMenu()" class="logo">
    <img
      src="../../../assets/icons/RP FONDO TRASPARENTE50.png"
      alt=""
      title=""
      width="50"
    />
  </a>

  <nav class="rigth">
    <ul [ngClass]="{ menu: true, active: publicService.menu }">
      <li>
        <a [routerLink]="'/trabajos'" (click)="toogleMenu()">Trabajos</a>
      </li>
      <li>
        <a [routerLink]="'/contacto'" (click)="toogleMenu()">Contáctanos</a>
      </li>
    </ul>
  </nav>
</header>

<!-- fin header -->

<!-- botones redes sociales -->
<!-- <header
  *ngIf="publicService.imgIndex"
  [ngClass]="{ sticky: publicService.sticky }"
> -->
<ul class="redes">
  <li>
    <a href="https://www.facebook.com/" target="_blank">
      <fa-icon [icon]="faFacebook" aria-hidden="true"></fa-icon>
    </a>
  </li>
  <li>
    <a href="https://instagram.com/" target="_blank">
      <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
    </a>
  </li>
  <li>
    <a href="https://wa.link/2866m3" target="_blank">
      <fa-icon [icon]="faWhatsapp" aria-hidden="true"></fa-icon>
    </a>
  </li>
</ul>

<!-- lineas punteadas -->
<!-- <header
  *ngIf="publicService.imgIndex"
  [ngClass]="{ sticky: publicService.sticky }"
> -->
<ul class="lineas">
  <li></li>
  <li></li>
  <li></li>
</ul>

<app-inicio></app-inicio>
