.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: shine 1.8s infinite;
  z-index: 10;
  background-color: var(--backgroundColorPrincipal);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--letrasParrafosColor);
  font-size: 2em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 5%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 9;
}

header .toggle {
  display: none;
}

header a img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

header a.logo.btn {
  height: 50px;
  width: auto;
}

header .social-media {
  margin: 0 auto 0 50px;
  display: flex;
  gap: 10px;
}

header .social-media li {
  display: inline-flex;
  width: 40px;
  height: 40px;
}

header .social-media li a fa-icon {
  font-size: 30px;
  transition: 500ms;
}

header .social-media li a:hover fa-icon {
  color: #444;
}

header .navbar ul {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

header .navbar ul a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  text-shadow: 0 0 10px rgb(0 0 0/20%);
}

/* !!! Responsive !!! */

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  header .navbar {
    position: fixed;
    background: rgb(255 255 255/20%);
    backdrop-filter: blur(30px);
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -200vw;
    z-index: 10;
    transition: 500ms;
  }

  header .navbar ul {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  header .navbar.active {
    right: 0;
  }

  header .social-media {
    margin: 0;
  }

  header .toggle {
    position: relative;
    /* top: 5%;
    right: 5%; */
    width: 50px;
    height: 50px;
    z-index: 11;
    font-size: xx-large;
    display: flex;
  }
}

@media (max-width: 600px) {
}
