<h2 class="preload" #preload *ngIf="publicService.load">
  Cargando<label>...</label>
</h2>
<router-outlet></router-outlet>

<!-- botones redes sociales -->
<ul
  class="redes"
  *ngIf="publicService.img1Inicio"
  [ngClass]="{ active: publicService.menu }"
>
  <li>
    <a href="https://www.facebook.com/" target="_blank">
      <fa-icon [icon]="faFacebook" aria-hidden="true"></fa-icon>
    </a>
  </li>
  <li>
    <a href="https://instagram.com/" target="_blank">
      <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
    </a>
  </li>
  <li>
    <a href="https://wa.link/2866m3" target="_blank">
      <fa-icon [icon]="faWhatsapp" aria-hidden="true"></fa-icon>
    </a>
  </li>
</ul>

<!-- lineas punteadas -->
<ul class="lineas" *ngIf="publicService.img1Inicio">
  <li></li>
  <li></li>
  <li></li>
</ul>
