<h2 class="preload" #preload *ngIf="publicService.load">
  Cargando<label class="letras-color-secundario">...</label>
</h2>

<header
  [ngClass]="{ sticky: publicService.sticky }"
  *ngIf="publicService.loadStop || !publicService.load"
>
  <!-- <header
  [ngClass]="{ sticky: publicService.sticky }"
  *ngIf="publicService.img1Inicio"
> -->

  <a [routerLink]="'/'" (click)="toogleMenu()" class="logo btn">
    <img
      src="../../../assets/icons/RP FONDO TRASPARENTE50.png"
      alt=""
      title=""
      height="50px"
      width="auto"
      (load)="imgLogoLoaded()"
    />
    <!-- RP-ME -->
  </a>

  <ul class="social-media">
    <li>
      <a
        href="https://www.facebook.com/"
        alt=""
        title=""
        class="btn"
        target="_blank"
      >
        <fa-icon [icon]="faFacebook" aria-hidden="true"></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://instagram.com/"
        alt=""
        title=""
        class="btn"
        target="_blank"
      >
        <fa-icon [icon]="faInstagram" aria-hidden="true"></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://wa.link/2866m3"
        alt=""
        title=""
        class="btn"
        target="_blank"
      >
        <fa-icon [icon]="faWhatsapp" aria-hidden="true"></fa-icon>
      </a>
    </li>
  </ul>

  <nav [ngClass]="{ navbar: true, active: publicService.menu }">
    <ul [ngClass]="{ menu: true, active: publicService.menu }">
      <li>
        <a [routerLink]="'/blog'" (click)="toogleMenu()">Blog</a>
      </li>
      <li>
        <a [routerLink]="'/servicios'" (click)="toogleMenu()">Servicios</a>
      </li>
      <li>
        <a [routerLink]="'/proyectos'" (click)="toogleMenu()">Trabajos</a>
      </li>
      <li>
        <a [routerLink]="'/contacto'" (click)="toogleMenu()">Contáctanos</a>
      </li>
    </ul>
  </nav>

  <div
    [ngClass]="{
      active: publicService.menu,
      toggle: true,
      btn: publicService.isMobile
    }"
    (click)="toogleMenu()"
  >
    <fa-icon [icon]="faBars" aria-hidden="true"></fa-icon>
  </div>
</header>

<router-outlet></router-outlet>
